* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body {
    background-color: rgba(0, 0, 255, 0.199);
    width: 500px;
    height: 800px;
}

.demo1 { 
    border: 3px solid rgb(0, 204, 255);
    background-color: rgb(0, 204, 255);
    margin: 50px 20px 10px 20px;
    
}

.demo2 { 
    border: 3px solid rgb(0, 204, 255);
    background-color: rgb(0, 204, 255);
    margin: 30px 20px 30px;
}

.demo3 { 
    border: 3px solid rgb(0, 204, 255);
    background-color: rgb(0, 204, 255);
    margin: 30px 20px 30px;
}

.demo4 { 
    border: 3px solid rgb(0, 204, 255);
    background-color: rgb(0, 204, 255);
    margin: 30px 20px 30px;
}